:root {
    --text-color: rgb(19, 161, 14);
    --background-color: rgb(12, 12, 12);
}

body {
    background-color: var(--background-color);
}

html {
    /* background: var(--background-color); */
    color: var(--text-color);
    font-family: "Courier New", monospace;
}

.input-box {
    outline: none;
    border: none;
    background: var(--background-color);
    color: var(--text-color);
    font-family: "Courier New", monospace;
    width: 90%;
    font-size: 16px;
    caret-shape: block;
    caret-color: transparent;
    padding: 0;
    white-space: pre;
}
.caret-block {
    background: var(--text-color);
    animation: blink 1.5s step-end infinite;
}

.command-line {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
}

.editableBox {
    color: var(--text-color);
}

@keyframes blink {
    from,
    to {
        background: transparent;
    }
    50% {
        background: var(--text-color);
    }
}